<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <aop:aspectj-autoproxy />

    <bean id="MobileDriverManager" class="java.org.automation.mobile.MobileDriverManager"/>
    <bean id="SeleniumWebDriverManager" class="java.org.automation.web.SeleniumWebDriverManager"/>
    <bean id="trackAspect" class="java.org.extensions.report.AspectExtension"/>
    <bean name="MobileDriverManager" class="java.org.automation.mobile.MobileDriverManager" />
    <bean name="SeleniumWebDriverManager" class="java.org.automation.web.SeleniumWebDriverManager" />

    <aop:config>
        <aop:aspect id="aspect" ref="trackAspect" >
            <aop:pointcut id="pointCutBefore" expression="execution(* org.springframework.context.annotation.Description.*(..))" />
            <aop:before method="before" pointcut-ref="pointCutBefore" />
            <aop:after method="after" pointcut-ref="pointCutAfter" />
            <aop:after-throwing method="after-throwing" pointcut-ref="pointCutAfterThrowing" />
        </aop:aspect>
    </aop:config>

</beans>
